<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="/static/css/aboutus2.css">
    
</head>

<body>
    <!-- ----------------------------------------------About Neuralife---------------------------------------------------------------- -->
    <div class="company">
        <div class="img">
            <img src="https://raw.githubusercontent.com/pico-india/main-django/main/static/about-team.jpg" alt="" />
        </div>
        <div class="company-info">
            <span>MENTAL HEALTH <span class="our">FOR EVERYONE</span></span>
            <p>
                <b>Neuralife</b> is an India-based open source webapp dedicated for testing depression.
                Neuralife allows
                people to test depression on this webapp, which are then predicted by a machine-learning algorithm. In
                Neuralife we help people to overcome their depression so that they can live in peace.
            </p>
        </div>
    </div>
    <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------------------team information-------------------------------------------------------------- -->
    <div class="team"><span>OUR TEAM</span></div>
    <div class="container">
        <div class="card">
            <div class="card-image loading"><img src="/static/img/team pics/7010.jpeg" alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Mayin <span class="yellow-surname">Machhoya</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Python Developer (Lead)</span> <br>
                        Pursuing Computer Engineering (SAL Education) <br>
                        Email: <a href="mailto:'mnmachhoya@gmail.com'">mnmachhoya@gmail.com</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="https://wa.me/9054581505" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/mayin_machhoya/" class="loading" target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-image loading"><img src="/static/img/team pics/7064.jpeg" alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Harsh <span class="yellow-surname">Patel</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Machine Learning Supervisor</span> <br>
                        Pursuing Computer Engineering (SAL Education) <br>
                        Email: <a href="mailto:'harsh00752n@gmail.com'">harsh00752n@gmail.com</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="https://wa.me/9016284935" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/k7ishn/" class="loading" target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-image loading"><img src="/static/img/team pics/7037.jpeg" alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Harsh <span class="yellow-surname">Jadav</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Frontend Developer</span> <br>
                        Pursuing Computer Engineering (SAL Education) <br>
                        Email: <a href="mailto:'harshjadav332004@gmail.com'">harshjadav332004@gmail.com</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="https://wa.me/8401960169" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/harshh.3.3/" class="loading" target="on_blank"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-image loading"><img src="/static/img/team pics/7055.jpeg" alt="" /></div>
            <div class="card-info">
                <h3 class="card-title loading"><span>Shashank <span class="yellow-surname">Mengar</span></span></h3>
                <p class="card-description loading">
                    <span class="personal-info">
                        <span class="info">Backend Developer</span> <br>
                        Pursuing Computer Engineering (SAL Education) <br>
                        Email: <a href="mailto:'shashaaank21@gmail.com'">shashaaank21@gmail.com</a>
                    </span>
                </p>
                <div class="card-mediaIcons">
                    <a href="https://wa.me/8799527758" class="loading" target="on_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/_.knahsahs._/" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        
    </div>
    <!-- ----------------------------------------footer section------------------------------------------ -->
    <footer>
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <span class="logo_name">Neuralife</span>
                </div>
                <div class="media-icons">
                    <a target="on_blank" href="#"><i class="fab fa-whatsapp"></i></a>
                    <a target="on_blank" href="https://www.instagram.com/k7ishn/"><i
                            class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Links</li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/aboutus">About Us</a></li>
                    <li><a href="/">Test Depression</a></li>
                    <li><a href="contactus">Contact Us</a></li>
                </ul>
        </div>

        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">Copyright © 2024 <a href="#">Neuralife.</a></span>
            </div>
        </div>
    </footer>
    <!-- ---------------------------------------------------------------------------------------- -->
    <!-- -------------------------------------------------------------------------------------------- -->
<script src="/static/js/aboutus2.js"></script>
</body>
</html>
